.event-card {
    max-width: 400px;
  }
/deep/ .mat-card-header-text {
    width: 100%;
    text-align: center; 
}

/deep/ .mat-card-title {
    margin-bottom:-10px;
}

/deep/ .mat-input-infix.mat-form-field-infix{
    width:20em;
}
.jumbotron{
    height: 100vh;
}